body{
	font-family: sans-serif;
	margin: 2vw;
}

#ready{
	background-color: green;
}

div.ready{
	padding: 1vw;
    font-size: 3vw;
    font-weight: bold;
}

h1{
    font-size: 6vw;
}

button{
    margin-top: 10px;
    font-size: 5vw;
}